# =========================
# Entorno virtual
# =========================
.venv/
venv/
env/

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# PyCharm / IntelliJ
# =========================
.idea/
*.iml

# =========================
# Visual Studio Code
# =========================
.vscode/

# =========================
# macOS
# =========================
.DS_Store

# =========================
# Windows
# =========================
Thumbs.db

# =========================
# Logs
# =========================
log/
*.log

# =========================
# Datos generados
# =========================
datosClientes/

# =========================
# Testing
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# Variables de entorno
# =========================
.env
.env.*